#house {
    width: 100%;
    height: 1000px;
}

.room {
    fill: rgba(255, 255, 255, 0);
}

.light-on {
    fill: rgba(248, 255, 32, 0.44);
}

.curtains-open {
    fill: transparent !important;
}

.cold {
    fill: rgba(12, 41, 255, 0.19);
}

.perfect {
    fill: rgba(255, 255, 255, 0);
}

.hot {
    fill: rgba(255, 0, 17, 0.19);
}

.html5-video-container, .html5-main-video {
    display: none!important;
}